*.o
*.d
*.bak
config.h
ipfw/testipfwrdr
miniupnpd
miniupnpdctl
testgetifaddr
testgetifstats
testupnpdescgen
testupnppermissions
testgetroute
testasyncsendto
testportinuse
testjwtauth
netfilter/testiptcrdr
netfilter/testiptcrdr_dscp
netfilter/testiptcrdr_peer
testdescs
validateupnppermissions
validategetifaddr
testssdppktgen
validatessdppktgen
validateversion
.depend
pf/testobsdrdr
pf/testpfpinhole
netfilter/test_nfct_get
testminissdp
dox/
bsdmake.inc
upnpstun
Makefile
config.mk
netfilter_nft/testnftnlrdr
netfilter_nft/testnftpinhole
netfilter_nft/test_nfct_get
py_test_utils/bin/
py_test_utils/include/
py_test_utils/lib/
py_test_utils/lib64/
py_test_utils/results/
.configure.cache
*.key
*.key.pub
